body{
    font-family: 'Source Sans Pro', sans-serif;
    font-family: 'Ubuntu', sans-serif;
}
section{
    padding: 10% 15%;
}
h1{
    font-size: 50px;
}
#main-h{
    font-size: 80px;
}
p{
    font-size: 30px;
    color: gray;
}
#main-p{
    color: white;
}
.header{
    color: white;
    text-align: center;
    background-image: url(images/donation13.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}
.btn{
    padding-top: 40px;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(rgb(8 , 152 , 157), rgb(16, 204, 185));
    padding: 20px 40px;
    color: white;
    font-weight: 700;
    border-radius: 3%;
}
.donate-tab{
    text-align: center;
}
.flex-container{
    display:flex;
    color: gray;
}
#red-area{
    color: #e60000;
    background-color: #ffe6e6;
    border: 2px solid #e60000;
}
.flex-container div{
    border-radius: 5px;
    background-color: rgb(240, 240, 240);
    font-weight: 800;
    width: 10%;
    height: 10%;
    margin: 2%;
    padding: 25px;
}
.bottom-line{
    border-bottom-style: groove;
   
}
#amount{
    font-size: 20px;
    line-height: 2px;
    outline: white;
    margin-bottom: 10px;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: hidden;
    background-color: transparent;
}
::placeholder{
    font-size: 20px;
    color: gray;
}
.plan-tab{
    text-align: center;
}
.plan-box{
    box-sizing: border-box;
    float: left;
    width: 30%;
    padding: 20px;
    margin: 10px;
    border-radius: 5px;
}
.plan-box p{
    font-size: 20px;
}
.box-tab{
    display: table;
    clear: both;
}
.food{
    background-color: rgb(205, 240, 234);
}
.shelter{
    background-color: rgb(247, 217, 217);
}
.edu{
    background-color: rgb(245, 240, 187);
}
.half-width{
    width: 40%;
    float: left;
}
.half-width img{
    width: 150%;
    padding: 15%;
}
.ways-tab{
    padding: 10%;
    padding-bottom: 30%;
}
.updates{
    text-align: center;
}
.subscribe-tab{
    background-color: rgb(153, 153, 255);
    padding: 10% 15%;
}
.form-control{
    background-color: rgb(240, 240, 240);
    border: none;
    border-radius: 3px;
    width: 35%;
    padding: 10px;
}
button{
    border: none;
    border-radius: 3px;
    color: white;
    font-weight: 700;
    background-color: rgb(255, 77, 77);
    padding: 10px 40px;
}
.footer-tab{
    text-align: center;
    padding: 2%;
    color: white;
    background-color: black;
}
.footer-tab h1{
    font-family: 'Satisfy', cursive;
    color: red;
}
